<!DOCTYPE html>
<html class="no-js" lang="{{ if .Language.Lang}}{{ .Language.Lang }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
	<head>
		{{ partial "head" . }}
	</head>

	<body>
		{{ partial "header" . }}
		{{- block "main" . }}
		<main role="main">
			{{ .Content }}
		</main>
		{{- end }}
		{{ partial "footer" . }}
	</body>
</html>
