{{- define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        {{.Content}}
    </article>
    <ul>
    {{- $pages := .Pages }}
    {{- if .IsHome }}
    {{- $pages = .Site.RegularPages }}
    {{- end }}
    {{- range $pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{- end }}
    </ul>
</main>
{{- end }}
