{{- define "main" }}
<article{{if .Params.article_class}} class="{{.Params.article_class}}"{{end}}>
	<header class="hr">

		{{ partial "cover" . }}

		{{ if .Title -}}
		<h1 class="entry-title">{{ .Title }}</h1>
		{{- end }}
		{{ partial "datetime" .Date }}
	</header>
	<section class="content{{if .Params.content_class}} {{.Params.content_class}}{{end}}">
		{{ .Content }}
	</section>
</article>
{{- end }}
