{{ hugo.Generator }}
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
{{ if eq .Section "post" }}
<meta property="og:title" content="{{ .Title }}" />
{{- if .Params.description }}
<meta property="og:description" content="{{ .Params.description }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="article" />
{{- range $tag := .Params.categories }}
<meta property="og:article:tag" content="{{ $tag }}" />
{{- end }}
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="og:article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- if .Params.cover }}
<meta property="og:image" content="{{ .Params.cover }}" />
{{ end -}}

{{- end -}}
